venv/

__pycache__/
*.pyc
*.pyo
*.pyd

db.sqlite3
media/
staticfiles/


env/
.env
.env.*

celerybeat-schedule
celerybeat.pid

*.pid
docker-compose.override.yml

*.dump
*.sql
*.backup

uploads/
exports/
reports/
tmp/
temp/

node_modules/

a.txt
